body {
  font-family: Helvetica, Arial, sans-serif;
  /*margin-left: 4em;
  margin-right: 4em;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  }

.LoCaction {
  fill: #ffb300;
}

#detailed .LoCaction {
  visibility:hidden;
}

.houseaction {
  fill: #95ff00;
}

#simple .houseaction {
  visibility:hidden;
}

.senateaction {
  fill: #6a00ff;
}

#simple .senateaction {
  visibility:hidden;
}
